#placa{
    border: none;
    width: 100%;
}

.in_buscar{
    border: 2px solid rgb(216, 215, 215);
    padding: 0.3rem;
    border-radius: 0.4rem;
    width: 18rem;
    display: flex;
}

#placa:focus{
    outline: none;
}

.in_buscar:has(#placa:focus){
    outline: 2px solid rgb(165, 162, 162);
}

.shadow-lg{
    padding: 1.2rem;
    border-radius: 0.4rem;

}