body {
    background: #E8F3FF;
}

.logo {
    width: 90px;
}

.titulo {
    color: #1A73E8;
    font-weight: bold;
}

.sombra {
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}
